<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add/Remove Flow Entries</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav_panel.css') }}">
</head>

<div class="topnav">
    <ul>
        {% for item in nav.top %}
        <li style="display:inline" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<body>

<br><br>

<b>Add Flow Entries</b>
<br><br>

<form method="POST" action="{{ url_for('add_flowentry') }}">
<label for="switch_id">Choose a switch:</label>
<select name="switch_id" id="switch_id">
        {% for switch in switches %}
            <option value="{{ switch }}">{{ switch }}</a></option>
        {% endfor %}

</select>
<input type="submit" value="Submit">
</form> 

<br><br>
<br><br>

<b>Remove Flow Entries</b>
<br><br>

<form method="POST" action="{{ url_for('remove_flowentry') }}">
    <label for="switch_id">Choose a switch:</label>
    <select name="switch_id" id="switch_id">
            {% for switch in switches %}
                <option value="{{ switch }}">{{ switch }}</a></option>
            {% endfor %}
    
    </select>
    <input type="submit" value="Submit">
    </form> 
    

</body>
</html>