<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add/Remove Flow Entries</title>
</head>

<div class="topnav">
    <ul>
        {% for item in nav.top %}
        <li style="display:inline" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<body>

<b>Add Flow Entries</b>
<br><br>

<form method="POST" action="{{ url_for('add_flowentry') }}">
<label for="switch_id">Choose a switch:</label>
<select name="switch_id" id="switch_id">
        {% for switch in switches %}
            <option value="{{ switch }}">{{ switch }}</a></option>
        {% endfor %}

</select>
<input type="submit" value="Submit">
</form> 

<br><br>

</body>
</html>