<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topology</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav_panel.css') }}">
</head>

<div class="topnav">
    <ul>
        {% for item in nav.top %}
        <li style="display:inline" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<body>
<b>Topology</b>
</body>
</html>